@page "/"
@using Test123.Service
@using ElectronNET.API
@using ElectronNET.API.Entities
@using Microsoft.Extensions.Logging
@inject ElectronService  _update
@inject ILogger<Index> logger

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    @_update.UpdateInfo
</div>
<div>
    <button type="button" class="btn btn-primary" @onclick="_update.CheckUpdate">Update</button>
</div>

@code {


    bool updateAvailable = false;
    protected override async Task OnInitializedAsync()
    {
    }
}